.box{
    position:relative;
}
.grad::before{
	
	 content: '';
    background: url('gradient.png');
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    z-index: 1;
}
.y-text{
	background-color: yellow;
}
li {
    list-style: none;
    display: inline-block;
}